PORT=3000

#Mongo credentials
  MONGODB_USER=
  MONGODB_PASSWORD=
  MONGODB_DOMAIN=
  MONGODB_DATABASE=

#Reset email
SMTP_HOST=
SMTP_PORT=
SMTP_USER=
SMTP_PASSWORD=
SMTP_FROM=

JWT_SECRET=

CLOUD_NAME=
API_KEY=
API_SECRET=